:root{
    --primary-color:#e50914;
    --light-color:#f4f4f4;
    --dark-color:#141414;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
    /* background-color: black; */
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    background:radial-gradient(16.89% 46.52% at 75.51% 46.52%, #65143B 0%, #00081D 100%);;
    /* color: #333; */
}
h1,
h2,
h3,
h4{
    color: white;
}
h3{
    font-weight: lighter;
}
a{
    color: white;
    text-decoration: none;

}
p{
    margin: 0 5px;
    font-weight: bold;
     color: white;
}
 img{
    width: 100%;
    height: 100%;

}
.header{
    min-height: 47.5rem;
    background-image: radial-gradient(93.75% 105.88% at 0.39% 99.26%, rgba(150, 1, 7, 0.4) 1.42%, rgba(30, 1, 66, 0.51) 53.8%, rgba(13, 14, 32, 0) 100%),linear-gradient(98.24deg, #1D0005 14.75%, rgba(0, 8, 29, 0.48) 100%),url(img/images/bg.jpg);
    width: 90%;
    height: 80vh;
    margin: 40px 50px;
    filter: blur();
    position: relative;
    background-size: cover;
    background-position: center;
    /* padding: 20px 8%; */
} 
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

} 
.logo {
    width: 150px;
    cursor: pointer;
}
nav button {
    border: 0;
outline:0;
background:red;
color: #fff;
padding: 7px 20px;
font-size: 14px;
border-radius: 5px;
margin-left: 8px;
cursor: pointer;}

/*nav button */
.icon-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 7px 9px;
    border: 2px white solid;
}
.icon-btn img{
    width: 10px;
    margin-left: 10px;


}
.header-content{

    margin-top: 60px;
    margin-left: 20px;
    padding: 20px;
    
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* text-align: center; */
    /* align-items: center; */
    /* margin-top: 100px; */
}
.header-content h1{

    font-size: 4rem;
     line-height:60px; 
    font-weight: 900;
    max-width: 650px; 
}
.header-content h4{
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 20px; */

}
.header-content p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.email {
    width: 40%;
    color: transparent;
    line-height: 1.5rem;
    padding: 1.5rem 1rem 0.5rem;

    /* background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
} */
}
.email{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left:20px ;
}
.button{
    background: red;
    bottom: 0;
    outline: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
    padding: 15px 30px;
}
.features {
    padding: 50px 12%;
    font-size: 22px;
}
.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img img{
    display: block;
    width: 90%;
    margin-bottom: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
/*fag*/
.faq{
    padding: 50px;
    font-size: 18px;
}
.faq h2{
    
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px ;
}

.action{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.action li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.action li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
     background-color: rgba(19, 33, 68, 1);
    color: #fff;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
} 
label::after{
    content: '+';
    cursor: pointer;
    height: 23px;
    width: 23px;
    transform: transform 0.5s;
    position: absolute;
    top: 20px;
    right: 20px;
    /*
    font-size: 34px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    height: 23px;
    width: 23px;
    
    top: 20px;
     */
}
input[type="radio"]{
    display: none;
}
.action .answer{
    background: rgba(19, 33, 68, 1);;
    align-items: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.5s,padding 0.5s;
}
.action input[type="radio"]:checked + label + .answer{
    max-height: 600px;
    padding: 30px 20px;
}
.action input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
    
}
.faq .email {
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 30px;
    color: #fff;
}
/* 
.faq .action .close{
    cursor: pointer;
    height: 23px;
    width: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
} */
.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #faf7f7;
    color: #f7f3f3;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color:#fff;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .icon-btn {
    color: #faf7f7;
    padding: 10px 20px;
    border-radius: 3px;
}
.para {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
  /*media queries */
  @media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }
    .header{
        width: auto;
    }
    .nav button{
        padding: 5px 10px;
    }
    nav .icon-btn{
        padding: 4px 8px;
    }
    .header-content{
        text-align: center;
        /* position: unset;
        transform: none; */
        padding-top:  0 30px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .email button{
        font-size: 12px;
        padding: 10px 15px;

    }
    .text-col,
    .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .action .answer{
        font-size: 15px;
    }
    .action li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
  }


















/* .header {
    width: 100%;
    height: 10vh;
    background: url(img/images/header-image.png) no-repeat center center / cover;
} */
/* .header::after{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #141414;
    box-shadow: 125px 100px 260px #141414 , insertb-125px -100px -260px #141414;
}
.head-top{
    position: relative;
    z-index: 2;
    height: 90px;
}
/* .head .head-top h1 {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(225 14 25);
    fill: currentColor;
    display: block;
} */

 /* .header-top img{
    height: 40px;
    width:40px;
} */

    /* height: 80px;
    width:80px;
    /* width: 140px; */
 /*   position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% ,-50%);
} */
